<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kanazawaapp_2019">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingActivity"></activity>
        <activity android:name=".HowToLookShelterActivity"></activity>
        <activity android:name=".HowToNotificationSettingsActivity" />
        <activity android:name=".HowToLookFirstScreenActivity" />
        <activity android:name=".HowToLookListActivity" />
        <activity android:name=".HowToAddFoodActivity" />
        <activity android:name=".InitialNotificationSettingActivity" />
        <activity android:name=".GettingStartMainActivity" />
        <activity
            android:name=".SecondDescriptionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".FirstDescriptionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".InitialNumberSettingActivity" />
        <activity android:name=".PreservedFoodListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".ShoppingListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
    </application>
</manifest>
